.whatsapp-float {
  position: fixed;

  right: 25px;

  bottom: 25px;

  width: 65px;

  height: 65px;

  border-radius: 50%;

  background: #25d366;

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 34px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

  transition: 0.3s;

  z-index: 9999;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}
