.footer {
  background: #111;
  color: #fff;
  padding: 80px 0 25px;
}

.footer-top {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 70px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* ---------- LOGO ---------- */

.footer-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  width: 280px;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}

.footer-logo p {
  color: #bdbdbd;
  max-width: 380px;
  line-height: 1.8;
}

/* ---------- LINKS ---------- */

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-column h3 {
  margin-bottom: 22px;
  font-size: 18px;
  color: #fff;
}

.footer-column a {
  display: block;
  margin-bottom: 12px;
  color: #bdbdbd;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #fff;
  padding-left: 6px;
}

.footer-column p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
  color: #bdbdbd;
}

.footer-column svg {
  color: #fff;
  font-size: 16px;
}

/* ---------- SOCIAL ---------- */

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #fff;
  color: #111;
}

/* ---------- COPYRIGHT ---------- */

.footer-bottom {
  padding-top: 25px;
  text-align: center;
  color: #999;
  font-size: 14px;
}

/* ---------- TABLET ---------- */

@media (max-width: 992px) {
  .footer-top {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .footer-logo {
    align-items: center;
    text-align: center;
  }

  .footer-logo img {
    width: 240px;
  }

  .footer-logo p {
    max-width: 100%;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

/* ---------- MOBILE ---------- */

@media (max-width: 600px) {
  .footer {
    padding: 60px 0 20px;
  }

  .footer-links {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-column p {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-logo img {
    width: 300px;
    height: auto;
    transform: scale(1.1);
    transform-origin: left center;
  }
}
